[Unit]
Description=Simple file sync program
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/simplefilesync/
ExecStart=/usr/bin/python3 -u /opt/simplefilesync/main.py -c /opt/simplefilesync/sync.yaml
Restart=on-failure
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
